li{
list-style-type:none;
}

#title1{
margin-top:-3%;
list-style-type:none;
font-family:veradana;
font-size:20pt;
font-weight:900;
color:#400080;
}

#maindiv
{
border: 2px solid #6666b2;
background-color:#FFA500;
}

#cdimg
{
width:35%;
height:50%;
margin-top:5%;
margin-left:32%;
}

#button1
{
position:relative;
margin-top:5%;
margin-left:40%;
width:20%;
height:30px;
}

#button2
{
position:relative;
margin-top:5%;
margin-left:40%;
width:20%;
height:30px;

}

#logindiv{
position:absolute;
top:15%;
left:30%;
width:40%;
height:55%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#registerdiv{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#cddetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#querycddetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}


#userdetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#updateuserdetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#deleteuserdetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}


#deletecddetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}



#rentcddetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#updatecddetails{
position:absolute;
top:15%;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#returncddetails{
position:absolute;
top:15%;
overflow:auto;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#membershipdetails{
position:absolute;
top:15%;
overflow:auto;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#updatemembershipdetails{
position:absolute;
top:15%;
overflow:auto;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#deletemembershipdetails{
position:absolute;
top:15%;
overflow:auto;
left:30%;
width:40%;
height:80%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#userreport
{
position:absolute;
top:18%;
left:1%;
width:97%;
height:75%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}





#memberreport
{
position:absolute;
top:18%;
left:1%;
width:95%;
height:75%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#cdsreport
{
position:absolute;
top:18%;
left:1%;
width:95%;
height:75%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#rentedcdreport
{
position:absolute;
top:18%;
left:1%;
width:95%;
height:75%;
border:2px solid lightgrey;
border-radius:5px;
background-color:#FFA500;
}

#logintitle1
{
margin-left:30%;
margin-top:10%;
font-size:15pt;
}

#loginlabel1
{
margin-left:30%;
margin-top:10%;
font-size:10pt;
}

#home
{
top:-4%;
margin-left:20%;
}


#logout
{
margin-left:80%;
top:-10%;
text-decoration:none;
}

#username1
{
margin-left:80%;
top:4%;
text-decoration:none;
}

#loginlabel2
{

}
